<h4 class="fas fa-align-left"> Categorias:</h4>
<hr>
{{#each categorias}}    
<div >
<div  class="col-2 text-truncate">
<a href="/categorias/{{slug}}"><h4 class="text-monospace">{{nome}}</h4></a>
<hr>

</div>
</div>  

{{else}}

{{/each}}